<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Argumentos: {{args}}</h3>
    <h3>Sistema operativo:{{so}} </h3>
    <h3>Node: {{version}}</h3>
    <h3>RSS: {{memory}} </h3>
    <h3>Path de ejecucion: {{path}}</h3>
    <h3>Process ID: {{processID}} </h3>
    <h3>Carpeta del proyecto: {{proyectFolder}} </h3>
</body>

</html>